
body {
    background: linear-gradient(to bottom, #b3e5fc, #e1f5fe);
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.portada{
    background-color: #47f9ff50;
    width: auto;
    height: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap ;
    justify-content: end;
    padding: 10px;
    background-color: #81d4fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo{
    position:absolute;
    text-align: center;
    top: 130px;
    right: 70%;
    width: 40px;
    height: 40px;
    margin-top: 10px;

}



.btn {
    text-decoration: none;
    margin-right: 200px;
    width: 170px;
    height: 30px;
    margin: 10px;
    margin-top: 25px;
    background: #ffffff;
    color: rgb(12, 124, 216);
    border: none;
    border-radius: 0.625em;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    background: rgb(20, 154, 243);
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}



.container{
    position: relative;
    bottom: 120px;
    text-align:center;
    color: rgb(148, 110, 110);
    padding: 50px;
    margin-top: 500px;
    margin-bottom: 0%; 
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px) opacity(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.678);
    border-radius: 8px;
    padding: 40px 20px;
}

.container h1{
    color: rgb(77, 94, 250);
    font-size: 50px;
}




h1, h2 {
    margin: 0;
    color: #344ee4;
    
}

.container h2{
    font-size: 30px;
}

.container p{
    font-size: medium;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    text-align: justify;

}

.foto{
    position: relative;
    top: 200px;
    width: 300px;
    height: 300px;
    background-color: #81d4fa;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}



.city-section {
    position:relative;
    text-align: center;
    padding: 2rem;
}

.city-section h2 {
    position: relative;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
}

.city-cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;

}



.city-card {
    position: relative;
    background-color: #e3f2fd;
    padding: 13px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.city-card:hover{
    transform: scale(1.1);
}

.city-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.city-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.icon {
    font-size: 2rem;
    color: #333;
}


.best-universities {
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
}

.best-universities h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.best-universities p {
    font-size: 1rem;
    color: #555;

}   

.tabla{
    text-align: center;
    padding: 2px;
}
.ranking-section {
    text-align: center;
    margin: 20px;
    max-width:100%;
    width: auto;
    background-color: #8abdffa6;
    border-radius: 8px;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ranking-section h2 {
    font-size: 24px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 10px;
}

.ranking-section p {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-bottom: 15px;
}

.ranking-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.ranking-table thead {
    background-color: #689bdf;
    color: #fff;
}

.ranking-table th,
.ranking-table td {
    padding: 12px 5px;
    text-align: left;
    border-bottom: 1px solid #66666670;
}

.ranking-table th {
    font-weight: bold;
}

.ranking-table tbody tr:hover {
    background-color: #7d93f5;
}


